body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	line-height: 1.5;
	background: #d6d6d6;
	color: #333;
}

/* ######### Links ######### */
a {
	text-decoration: none;
	color: #0065ee;
}

a:hover {
	color: #0033aa;
}

/* ######### Table ######### */

.company-table {
	margin: 1rem auto 0;
}

table {
	border-collapse: separate;
	text-align: left;
	border: 1px solid #999;
	background: #e9e9e9;
}

table th {
	background: #d9d9d9;
	padding: 6px 8px;
}

table td {
	padding: 6px 8px;
	border-bottom: 1px solid #888;
	background: #fff;
}

table tr:last-child td {
	border-bottom: none;
}

/* ######### Form ######### */
form {
	margin-bottom: 1rem;
}

label {
	display: block;
	font-weight: bold;
}

input[type="text"],
input[type="search"],
input[type="url"],
input[type="password"] {
	padding: 8px 12px;
	border: 1px solid #999;
	border-radius: 15px;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	padding: 8px 12px;
	border: 1px solid #888;
	cursor: pointer;
	border-radius: 15px;
}

.wrap {
	width: 80%;
	margin: 0 auto;
}

.form-wrap {
	text-align: center;
	padding: 1rem 0;
}

.pagination {
    background: #fff;
    text-align: center;
    border: 1px double #999;
    padding: 0.5rem 0;
    border-radius: 1.5rem;
}
